* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color: #573A37;
    font-family: "Alice", serif;
    line-height: 150%;
}

body {
    background-image: url(assets/bg.jpg);
    background-size: cover;
}

#page {
    background-color: #F0E8C2;
    border-radius: 16px;
    margin: 48px auto;
    padding: 24px;
    width: 800px;
}

main {
    padding: 24px;
}


main section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

/* Image main */
img {
    border-radius: 16px;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 4px;
}

h1 {
    font-size: 40px;
    line-height: 140%;
}

h2 {
    font-size: 24px;
    line-height: 150%;
}

#ingredients ul {
    padding-left: 25px;
}

footer {
    text-align: center;
    padding: 28px 0px;
    color: #F0E8C2;
} 

footer img {
    vertical-align: middle;
}